<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpuControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <GpuControl.My.MySettings>
            <setting name="authkey" serializeAs="String">
                <value />
            </setting>
            <setting name="autofan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raiseprec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="raisetemp" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="allowremote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="compName" serializeAs="String">
                <value>gpuControlMachine</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
        </GpuControl.My.MySettings>
    </userSettings>
</configuration>